.gitignore
__pycache__/function_library_OOP.cpython-312.pyc
Calculator.ipynb
ConceptTest.ipynb
ITS2_Test.ipynb
ITS3_Test.ipynb
Longitudinal_ImpactParameter.ipynb
MS_in_air_Test.ipynb
Transverse_ImpactParameter.ipynb
Transverse_Momentum.ipynb
Longitudinal_ImpactParameter_Plots/Pion_z_7.png
Longitudinal_ImpactParameter_Plots/Pion_z_angle.png
Longitudinal_ImpactParameter_Plots/Pion_z.png
Longitudinal_ImpactParameter_Plots/Proton_z_7.png
Longitudinal_ImpactParameter_Plots/Proton_z_angle.png
Longitudinal_ImpactParameter_Plots/Proton_z.png
MS_in_air_Plots/Proton_diff_scaled.png
MS_in_air_Plots/Proton_diff.png
MS_in_air_Plots/Proton_wMS.png
MS_in_air_Plots/Proton_woMS.png
Old_macros_(wo_OOP)/function_library_old.py
Old_macros_(wo_OOP)/ITS2_Test_old.ipynb
Old_macros_(wo_OOP)/Longitudinal_ImpactParameter_old.ipynb
Old_macros_(wo_OOP)/Transverse_ImpactParameter_old.ipynb
Old_macros_(wo_OOP)/Transverse_Momentum_old.ipynb
ThesisPlots/pT-PionSigma-1.png
ThesisPlots/pT-ProtonSigma-1.png
ThesisPlots/XPionSigma-1.png
ThesisPlots/XProtonSigma-1.png
ThesisPlots/YPionSigma-1.png
ThesisPlots/YProtonSigma-1.png
ThesisPlots/ZPionSigma-1.png
ThesisPlots/ZProtonSigma-1.png
Transverse_ImpactParameter_Plots/Pion_rphi_7.png
Transverse_ImpactParameter_Plots/Pion_rphi_angle.png
Transverse_ImpactParameter_Plots/Pion_rphi.png
Transverse_ImpactParameter_Plots/Proton_rphi_7.png
Transverse_ImpactParameter_Plots/Proton_rphi_angle.png
Transverse_ImpactParameter_Plots/Proton_rphi.png
Transverse_Momentum_Plots/Pion_pT_7.png
Transverse_Momentum_Plots/Pion_pT_angle.png
Transverse_Momentum_Plots/Proton_pT_7.png
Transverse_Momentum_Plots/Proton_pT_angle.png
Transverse_Momentum_Plots/Proton_pT.png
log.txt
Transverse_ImpactParameter_Plots/proton_rphi_4hits.txt
Longitudinal_ImpactParameter_Plots/pion_z_4hits.txt
Longitudinal_ImpactParameter_Plots/proton_z_4hits.txt
Transverse_ImpactParameter_Plots/pion_rphi_4hits.txt
Longitudinal_ImpactParameter_Plots/pion_z_7hits.txt
Longitudinal_ImpactParameter_Plots/proton_z_7hits.txt
Transverse_ImpactParameter_Plots/pion_rphi_7hits.txt
Transverse_ImpactParameter_Plots/proton_rphi_7hits.txt
MS_in_air_Plots/Proton_rad_length_diff_scaled.png
MS_in_air_Plots/Proton_rad_length_diff.png
MS_in_air_Plots/Proton_rad_length_wo.png
MS_in_air_Plots/Proton_rad_length.png
